body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */
img {
  max-width: 100%;

  /*max-height: 20rem;*/
}

.col-md-4 {
  padding: 1rem;

}

/***************** NAV *****************/

nav a:hover {
  text-decoration: underline;
}
nav {
  margin: 0%;
}

/**************** HERO *****************/

/*header img {
  max-height: 6rem;

}*/

header {
  width: 100%;
}

h1 .logo-w {
  font-size: 2rem;
}

h1 {
  font-size: 2rem;
  color: blue;
  font-stretch: condensed;
}

/**************** ASIDE ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

section {
  padding: 0 .75rem;
}

h2 {
  /*padding-top: 1.5rem;*/
  padding: 1.5rem 0 1.5rem 0;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}

container {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row-reverse;
  background-color: blue;
  margin: 0%;
}

container1 {
  display: flex;
}
item-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*col-sm-3 {
  display: flex;
  flex-direction: column-reverse;
}*/

li {
  font-weight: bold;
  text-align: center;
  background-color: blue;
  width: 100%;
  color: white;
}

li:last-child {
  /*text-align: right;*/
  text-align: center;

}
li a {
  color: white;
}
